# Development requirements for Climate-Action-GABM
# Install with: pip install -r requirements-dev.txt

# GABM
gabm==0.2.17

# Test dependencies
pytest>=9.0.2,<10

# Documentation dependencies
sphinx>=9.1.0,<10
sphinx-rtd-theme>=3.1.0,<4
myst-parser>=5.0.0,<6
docutils>=0.22,<0.23

# For building distributions
build>=1.4.0,<2
setuptools>=82.0.0
wheel>=0.42.0,<1

# For updating version references in files
bump2version>=1.0.1,<2

# For uploading to PyPI
twine>=6.2.0,<7

# For climate-action specific development
pandas>=3.0.1,<4.0
networkx>=3.6.1,<4.0