# LaTeX build artefacts
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.lot
*.nav
*.snm
*.vrb

# Don't ignore the manuscript PDF itself if you want to commit it for sharing.
# Comment the next line to commit sn-article.pdf.
sn-article.pdf
